.breadcrumbs_wr{
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    .container{
        max-width: 1200px;
        margin: 0 auto;
		padding-bottom: 64px;
        .breadcrumb{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            list-style-type: none;
            li{
                font-family: "Montserrat-Regular";
                font-size: 18px;
                line-height: 1.2;
                color: #000000;
                a{
                    color: #000000;
                    text-decoration: none;
                    font-weight: 400;
                }
            }
            li:last-of-type{
                font-weight: 600;
            }
        }
    }
}