@font-face {
	font-family: "Lora-Regular";
	src: url("./assets/fonts/Lora-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat-Regular";
	src: url("./assets/fonts/Montserrat-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat-Bold";
	src: url("./assets/fonts/Montserrat-Bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


