		
			<footer class="main-footer">
				<div class="container">
					
				</div>
			</footer>
		</div><!-- END wrap_page -->
	
	<!--<div id="button-up">↑</div>-->
	


	
	<!-- <link rel="stylesheet" type="text/css" href="assets/css/slick.css" async/>
	<link rel="stylesheet" type="text/css" href="assets/css/mCustomScrollbar.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.min.css" />	
	<link rel="stylesheet" type="text/css" href="assets/css/ion.rangeSlider.css" />	 -->

	<link rel="stylesheet" type="text/css" href="style.css" async/>

	<script src="assets/js/jquery-3.6.0.min.js"></script>	
	<!-- <script src="assets/js/lazysizes.min.js" async></script>
	<script src="assets/js/jquery.fancybox.min.js" async></script>
	<script src="assets/js/slick.js" async></script>
	<script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>	
	
	<script src="assets/js/ion.rangeSlider.min.js"></script>
	<script src="assets/js/jquery.nice-select.min.js"></script>
	<script src="assets/js/jquery.maskedinput.min.js"></script>
	<script src="assets/js/custom.js" defer></script> -->
	<script>
	</script>
	@@include('modals.html') 
</body>

</html>