<section class="our-works">
    <div class="container">
        <h2>Наши работы</h2>
        <div class="our-works-wrp">
            @@include('our-works-item.html')
            @@include('our-works-item.html')
            @@include('our-works-item.html')
            @@include('our-works-item.html')
        </div>
    </div>
</section>